{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update Preferences{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for i in s %}
    <input type="checkbox" id="{{ i }}" class="sc" name="{{ i }}" checked>
    <label for="{{ i }}">{{ i }}</label></br>
    {% endfor %}
    {% for i in u %}
    <input type="checkbox" id="{{ i }}" name="{{ i }}">
    <label for="{{ i }}">{{ i }}</label></br>
    {% endfor %}
    <input type="submit" value="Save">
</form>
{% endblock %}